#### 1. Generate a brief statistic summary for corresponding data

In [2]:
import pandas as pd

# Generate a brief statistic summary for corresponding data 
df = pd.read_csv("SP500.csv")
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,17191.000000,17191.000000,17191.000000,17191.000000,17191.000000,1.719100e+04
mean,546.966024,550.229233,543.522697,547.091391,547.091391,8.945411e+08
std,643.238592,646.567762,639.645155,643.342927,643.342927,1.531001e+09
min,16.660000,16.660000,16.660000,16.660000,16.660000,6.800000e+05
25%,85.419998,86.130001,84.760002,85.424999,85.424999,8.685000e+06
50%,164.369995,165.050003,163.710007,164.289993,164.289993,8.794000e+07
75%,1073.684998,1082.705017,1065.224976,1073.669983,1073.669983,1.110950e+09
max,2867.229980,2872.870117,2851.479980,2872.870117,2872.870117,1.145623e+10

#### 2. Sort daily gain/loss for January of 2018 and store the result back to a .csv file

In [3]:
df = pd.read_csv("SP500.csv")
df_january = df[df['Date'].str.startswith('2018-01')].copy(deep=False)

# Calculate daily gain/loss, store it to new column
df_january.loc[:, 'Gain/Loss'] = df_january['Close'] - df_january['Open']

df_sorted = df_january.sort_values(by='Gain/Loss', ascending=False)

df_sorted.to_csv('pandas_2_output.csv', index=False)

#### 3. Find all of the daily gains reach 20% and above and display them

In [4]:
df = pd.read_csv("SP500.csv")
df['Daily Gain'] = (df['Close'] - df['Open']) / df['Open'] * 100

# no values come up for anything over 10. Might be my error or there aren't any 20% gains
df_filtered = df[df['Daily Gain'] >= 10]

print(df_filtered)

             Date        Open       High        Low      Close  Adj Close  \
14800  2008-10-28  848.919983  940.51001  845.27002  940.51001  940.51001

           Volume  Daily Gain
14800  7096950000   10.789006

#### 4. The highest daily gain and its date, the highest daily loss and its date

In [5]:
df= pd.read_csv("SP500.csv")
df.loc[:, 'Gain/Loss'] = df['Close'] - df['Open']
df_sorted = df.sort_values(by='Gain/Loss', ascending=False)
print(f'Highest gain {df_sorted.iloc[0][-1]} on {df_sorted.iloc[0][0]}')
print(f'Highest loss {df_sorted.iloc[-1][-1]} on {df_sorted.iloc[-1][0]}')

Highest gain 91.59002699999996 on 2008-10-28
Highest loss -104.01000999999997 on 2018-02-08

#### 5. The most daily transaction volume and its date

In [6]:
df = pd.read_csv("sp500.csv")
df_sorted = df.sort_values(by='Volume', ascending=False)
print(f'Highest volume {df_sorted.iloc[0][-1]} on {df_sorted.iloc[0][0]}')
df

Highest volume 11456230000 on 2008-10-10

,Date,Open,High,Low,Close,Adj Close,Volume
0,1950-01-03,16.660000,16.660000,16.660000,16.660000,16.660000,1260000
1,1950-01-04,16.850000,16.850000,16.850000,16.850000,16.850000,1890000
2,1950-01-05,16.930000,16.930000,16.930000,16.930000,16.930000,2550000
3,1950-01-06,16.980000,16.980000,16.980000,16.980000,16.980000,2010000
4,1950-01-09,17.080000,17.080000,17.080000,17.080000,17.080000,2520000
...,...,...,...,...,...,...,...
17186,2018-04-23,2675.399902,2682.860107,2657.989990,2670.290039,2670.290039,3017480000
17187,2018-04-24,2680.800049,2683.550049,2617.320068,2634.560059,2634.560059,3706740000
17188,2018-04-25,2634.919922,2645.300049,2612.669922,2639.399902,2639.399902,3499440000
17189,2018-04-26,2651.649902,2676.479980,2647.159912,2666.939941,2666.939941,3665720000
17190,2018-04-27,2675.469971,2677.350098,2659.010010,2669.909912,2669.909912,3219030000

#### 6. A monthly report for year 2017-2018, which has monthly average open price, close price, transaction volume and gain/loss, and a query to find all of the months which have certain range of open prices

In [7]:
df = pd.read_csv("sp500.csv")


df_dates = df[(df['Date'].str.startswith('2018')) | (df['Date'].str.startswith('2017'))]
df_dates.loc[:, 'Gain/Loss'] = df_dates['Close'] - df_dates['Open']

#df_dates.set_index('Date')
#df_dates.index=pd.DatetimeIndex(df_dates.index)
#df_dates = df_dates.resample('M').mean()
#df_dates.reset_index(inplace=True)
#

#print('Average open price:', df_dates['Open'].mean())
#print('Average close price', df_dates['Close'].mean())
#print('Average Transaction volume', df_dates['Volume'].mean())
#print('Average Gain/Loss', df_dates['Gain/Loss'].mean())
#Query can be edited to include different dates
#print(df_dates[(df_dates['Open'] >= 2300) & (df_dates['Open'] <= 2400)])

/var/folders/vz/5pbc4qrn27zck873trn03npc0000gn/T/ipykernel_8477/2410644284.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dates.loc[:, 'Gain/Loss'] = df_dates['Close'] - df_dates['Open']

#### 7. A yearly report which has annual average open price, close price, transaction volume and gain/loss from 1950 to 2018, and the most profitable year

In [9]:
df['Gain/Loss'] = df['Close'] - df['Open']

year = df['Date'].str[:4]
annual_data = df.groupby(year).agg({'Open': ['mean'],
                                    'Close': ['mean'],
                                    'Volume': ['mean'],
                                    'Gain/Loss': ['mean']})


most_profitable_year = annual_data.loc[annual_data['Gain/Loss'].idxmax()]


print('Most Profitable Year:\n', most_profitable_year)

print(annual_data)

Most Profitable Year:
              Open        Close        Volume Gain/Loss
             mean         mean          mean      mean
Date
2013  1642.298649  1643.798968  3.358967e+09  1.500319
             Open        Close        Volume Gain/Loss
             mean         mean          mean      mean
Date
1950    18.397269    18.397269  2.009237e+06  0.000000
1951    22.321888    22.321888  1.717590e+06  0.000000
1952    24.496160    24.496160  1.308160e+06  0.000000
1953    24.722590    24.722590  1.413147e+06  0.000000
1954    29.724087    29.724087  2.269762e+06  0.000000
...           ...          ...           ...       ...
2014  1930.754485  1931.376110  3.354783e+09  0.621625
2015  2061.268016  2061.067741  3.655629e+09 -0.200275
2016  2094.091550  2094.651264  3.905232e+09  0.559714
2017  2448.275888  2449.076379  3.412303e+09  0.800491
2018  2715.895794  2713.829129  3.687696e+09 -2.066665

[69 rows x 4 columns]

#### 8. A every other five year report which has every five year average open price, close price, transaction volume and gain/loss from 1950 to 2018, and the most profitable five year

In [10]:
year = df['Date'].str[:4].astype(int)
df['Year Group'] = pd.cut(year, bins=range(1950, 2021, 5), right=False)
annual_data = df.groupby('Year Group').agg({'Open': ['mean'],
                                    'Close': ['mean'],
                                    'Volume': ['mean'],
                                    'Gain/Loss': ['mean']})


most_profitable_five_years = annual_data.loc[annual_data['Gain/Loss'].idxmax()]


print('Most Profitable Year:\n', most_profitable_five_years)

print(annual_data)

Most Profitable Year:
                     Open       Close        Volume Gain/Loss
                    mean        mean          mean      mean
Year Group
[1995, 2000)  898.511394  899.311165  5.525298e+08   0.79977
                     Open        Close        Volume Gain/Loss
                     mean         mean          mean      mean
Year Group
[1950, 1955)    23.948002    23.948002  1.743965e+06  0.000000
[1955, 1960)    47.045230    47.045230  2.642627e+06  0.000000
[1960, 1965)    67.134913    67.143545  4.079984e+06  0.008633
[1965, 1970)    92.144817    92.151681  9.552518e+06  0.006864
[1970, 1975)    96.146398    96.124893  1.469059e+07 -0.021504
[1975, 1980)    97.070111    97.102209  2.430481e+07  0.032098
[1980, 1985)   137.429652   137.478087  6.665993e+07  0.048435
[1985, 1990)   259.686461   259.837395  1.532317e+08  0.150934
[1990, 1995)   407.601012   407.684031  2.187798e+08  0.083020
[1995, 2000)   898.511394   899.311165  5.525298e+08  0.799770
[2000, 2005)  1142.276792  1142.076967  1.300866e+09 -0.199825
[2005, 2010)  1232.307609  1232.326600  3.632072e+09  0.018992
[2010, 2015)  1471.892304  1472.574681  3.805046e+09  0.682377
[2015, 2020)  2250.783993  2250.932440  3.660919e+09  0.148448

#### note: Using what we have learned in Unit5 of Pandas to analyze __Sacramentorealestatetransactions.csv__ file with Series and DataFrame operations. Please find answers to the following questions:

#### 9. Regroup the data first by city name, then by type

#### 10. For each city, each type, find the highest, median and lowest transactions

#### 11. For each zipcode and each type, find average transactions