#### 1. Generate a brief statistic summary for corresponding data

In [3]:
import pandas as pd

# Generate a brief statistic summary for corresponding data 
df = pd.read_csv("SP500.csv")
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,17191.000000,17191.000000,17191.000000,17191.000000,17191.000000,1.719100e+04
mean,546.966024,550.229233,543.522697,547.091391,547.091391,8.945411e+08
std,643.238592,646.567762,639.645155,643.342927,643.342927,1.531001e+09
min,16.660000,16.660000,16.660000,16.660000,16.660000,6.800000e+05
25%,85.419998,86.130001,84.760002,85.424999,85.424999,8.685000e+06
50%,164.369995,165.050003,163.710007,164.289993,164.289993,8.794000e+07
75%,1073.684998,1082.705017,1065.224976,1073.669983,1073.669983,1.110950e+09
max,2867.229980,2872.870117,2851.479980,2872.870117,2872.870117,1.145623e+10

#### 2. Sort daily gain/loss for January of 2018 and store the result back to a .csv file

In [8]:
df = pd.read_csv("SP500.csv")
df_january = df[df['Date'].str.startswith('2018-01')]

# Calculate daily gain/loss, store it to new column
df_january.loc[:, 'Gain/Loss'] = df_january['Close'] - df_january['Open']

df_sorted = df_january.sort_values(by='Gain/Loss', ascending=False)

df_sorted.to_csv('pandas_2_output.csv', index=False)

C:\Users\jacob\AppData\Local\Temp\ipykernel_14244\914324265.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_january.loc[:, 'Gain/Loss'] = df_january['Close'] - df_january['Open']

#### 3. Find all of the daily gains reach 20% and above and display them

In [38]:
df = pd.read_csv("SP500.csv")
df['Daily Gain'] = (df['Close'] - df['Open']) / df['Open'] * 100

# no values come up for anything over 10. Might be my error or there aren't any 20% gains
df_filtered = df[df['Daily Gain'] >= 10]

print(df_filtered)

             Date        Open       High        Low      Close  Adj Close  \
14800  2008-10-28  848.919983  940.51001  845.27002  940.51001  940.51001

           Volume  Daily Gain
14800  7096950000   10.789006

#### 4. The highest daily gain and its date, the highest daily loss and its date

#### 5. The most daily transaction volume and its date

#### 6. A monthly report for year 2017-2018, which has monthly average open price, close price, transaction volume and gain/loss, and a query to find all of the months which have certain range of open prices

#### 7. A yearly report which has annual average open price, close price, transaction volume and gain/loss from 1950 to 2018, and the most profitable year

#### 8. A every other five year report which has every five year average open price, close price, transaction volume and gain/loss from 1950 to 2018, and the most profitable five year

#### note: Using what we have learned in Unit5 of Pandas to analyze __Sacramentorealestatetransactions.csv__ file with Series and DataFrame operations. Please find answers to the following questions:

#### 9. Regroup the data first by city name, then by type

#### 10. For each city, each type, find the highest, median and lowest transactions

#### 11. For each zipcode and each type, find average transactions