In [3]:
import pandas as pd

# Generate a brief statistic summary for corresponding data 
df = pd.read_csv("SP500.csv")
df.describe()

df
# Sort daily gain/loss for January of 2018 and store the result back to a .csv file

,Date,Open,High,Low,Close,Adj Close,Volume
0,1950-01-03,16.660000,16.660000,16.660000,16.660000,16.660000,1260000
1,1950-01-04,16.850000,16.850000,16.850000,16.850000,16.850000,1890000
2,1950-01-05,16.930000,16.930000,16.930000,16.930000,16.930000,2550000
3,1950-01-06,16.980000,16.980000,16.980000,16.980000,16.980000,2010000
4,1950-01-09,17.080000,17.080000,17.080000,17.080000,17.080000,2520000
...,...,...,...,...,...,...,...
17186,2018-04-23,2675.399902,2682.860107,2657.989990,2670.290039,2670.290039,3017480000
17187,2018-04-24,2680.800049,2683.550049,2617.320068,2634.560059,2634.560059,3706740000
17188,2018-04-25,2634.919922,2645.300049,2612.669922,2639.399902,2639.399902,3499440000
17189,2018-04-26,2651.649902,2676.479980,2647.159912,2666.939941,2666.939941,3665720000
17190,2018-04-27,2675.469971,2677.350098,2659.010010,2669.909912,2669.909912,3219030000